<?xml version="1.0"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head />
	<h:body>
		<ui:composition template="template.xhtml">
			<ui:define name="content">
				<h:form id="form">

					<p:growl id="messages" showDetail="true" />

					<p:schedule id="schedule" value="#{scheduleController.eventModel}"
						widgetVar="myschedule" locale="cs">

						<p:ajax event="dateSelect"
							listener="#{scheduleController.onDateSelect}"
							update="eventDetails" oncomplete="eventDialog.show()" />
						<p:ajax event="eventSelect"
							listener="#{scheduleController.onEventSelect}"
							update="eventDetails" oncomplete="eventDialog.show()" />
						<p:ajax event="eventMove"
							listener="#{scheduleController.onEventMove}" update="messages" />
						<p:ajax event="eventResize"
							listener="#{scheduleController.onEventResize}" update="messages" />

					</p:schedule>

					<p:dialog widgetVar="eventDialog" header="Detail události"
						showEffect="clip" hideEffect="clip">
						<h:panelGrid id="eventDetails" columns="2">
							<h:outputLabel for="title" value="Titulek:" />
							<p:inputText id="title" value="#{scheduleController.event.title}"
								required="true" />

							<h:outputLabel for="note" value="Poznámka:" />
							<p:inputTextarea rows="5" id="note"
								value="#{scheduleController.event.note}" required="false" />

							<h:outputLabel for="priority" value="Priorita:" />
							<p:selectOneListbox id="priority" required="true"
								value="#{scheduleController.priority_}">
								<f:selectItem itemLabel="LOW" itemValue="LOW" />
								<f:selectItem itemLabel="MEDIUM" itemValue="MEDIUM" />
								<f:selectItem itemLabel="HIGHT" itemValue="HIGHT" />
							</p:selectOneListbox>


							<h:outputLabel for="from" value="Začátek:" />
							<p:calendar id="from" required="true"
								value="#{scheduleController.event.startDate}"
								pattern="MM/dd/yyyy HH:mm">
								<f:validator validatorId="twoDates" />
								<f:attribute name="otherDate"
									value="#{scheduleController.event.endDate}" />
							</p:calendar>

							<h:outputLabel for="to" value="Konec:" />
							<p:calendar id="to" value="#{scheduleController.event.endDate}"
								pattern="MM/dd/yyyy HH:mm" required="true" />

							<p:commandButton type="reset" value="Reset" />
							<p:commandButton id="addButton" value="Save"
								actionListener="#{scheduleController.addEvent}"
								oncomplete="if (!args.validationFailed) eventDialog.hide();if (!args.validationFailed) myschedule.update();" />
						</h:panelGrid>
					</p:dialog>
				</h:form>

			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
