<?xml version="1.0"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head />
	<h:body>
		<ui:composition template="template.xhtml">
			<ui:define name="content">
				<h:form id="form">
					<p:dataTable var="contact" value="#{ContactListBean.gridModel}"
						paginator="true" rows="15" id="carTable" lazy="true">

						<p:column headerText="Jméno">
							<h:outputText value="#{contact.name}" />
						</p:column>

						<p:column headerText="Příjmení">
							<h:outputText value="#{contact.surname}" />
						</p:column>

						<p:column headerText="Hlavní e-mail">
							<h:outputText value="#{contact.primaryEmail}" />
						</p:column>

						<p:column headerText="Pracovní telefon">
							<h:outputText value="#{contact.workPhone}" />
						</p:column>
						<p:column headerText="soukromý telefon">
							<h:outputText value="#{contact.privatePhone}" />
						</p:column>

						<p:column headerText="akce">
							<h:outputLink value="contact-view.xhtml">
								<h:outputText value="zobrazit" />
								<f:param name="id" value="#{contact.id}" />
							</h:outputLink>
							<h:outputText value=" " />
							<h:outputLink value="contact-edit.xhtml">
								<h:outputText value="upravit" />
								<f:param name="id" value="#{contact.id}" />
							</h:outputLink>
							<h:outputText value=" " />
							<p:commandLink action="#{ContactListBean.delete(contact.id)}"
								value="smazat" ajax="false">
							</p:commandLink>
						</p:column>

					</p:dataTable>
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>