<?xml version="1.0"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head />
	<h:body>
		<ui:composition template="template.xhtml">
			<ui:define name="content">
				<h:form id="form">
					<p:fieldset legend="Základní informace" toggleable="false">
						<p:panelGrid columns="4" style="width: 100%">
							<h:outputLabel for="firstname" value="Jméno:" />
							<h:outputText value="#{ContactEditBean.name}" />

							<h:outputLabel for="surname" value="Příjmení:" />
							<h:outputText id="surname" value="#{ContactEditBean.surname}" />

							<h:outputLabel for="birthdate" value="Datum narození:" />
							<h:outputText value="#{ContactEditBean.birthday}" />
						</p:panelGrid>
					</p:fieldset>

					<p:fieldset legend="Adresa" toggleable="true" toggleSpeed="500">
						<p:panelGrid columns="2" style="width: 100%">
							<h:outputLabel for="street" value="Ulice:" />
							<h:outputText id="street" value="#{ContactEditBean.street}" />
							<h:outputLabel for="city" value="Město:" />
							<h:outputText id="city" value="#{ContactEditBean.city}" />
							<h:outputLabel for="postCode" value="PSČ:" />
							<h:outputText id="postCode" value="#{ContactEditBean.postCode}" />
							<h:outputLabel for="country" value="Země:" />
							<h:outputText id="country" value="#{ContactEditBean.country}" />
						</p:panelGrid>
					</p:fieldset>

					<p:fieldset legend="Telefon / email" toggleable="true"
						toggleSpeed="500">
						<p:panelGrid columns="2" style="width: 100%">
							<h:outputLabel for="workPhone" value="Pracovní telefon:" />
							<h:outputText id="workPhone" value="#{ContactEditBean.workPhone}" />
							<h:outputLabel for="privatePhone" value="Soukromý telefon:" />
							<h:outputText id="privatePhone"
								value="#{ContactEditBean.privatePhone}" />
							<h:outputLabel for="mobilePhone" value="Mobilní telefon:" />
							<h:outputText id="mobilePhone"
								value="#{ContactEditBean.mobilePhone}" />
							<h:outputLabel for="primaryEmail" value="Primární email:" />
							<h:outputText id="primaryEmail"
								value="#{ContactEditBean.primaryEmail}" />
							<h:outputLabel for="secondaryEmail" value="Sekundární email:" />
							<h:outputText id="secondaryEmail"
								value="#{ContactEditBean.secondaryEmail}" />
						</p:panelGrid>
					</p:fieldset>
					<p:fieldset legend="Poznámka" toggleable="true" toggleSpeed="500">
						<p:panelGrid columns="1">
							<h:outputText value="#{ContactEditBean.note}" />
						</p:panelGrid>
					</p:fieldset>
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
