<?xml version="1.0"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head />
	<h:body>
		<ui:composition template="template.xhtml">
			<ui:define name="content">
				<h:form id="form">
					<p:fieldset legend="Základní informace" toggleable="false">
						<p:panelGrid columns="4" style="width: 100%">
							<h:outputLabel for="firstname" value="Jméno:" />
							<p:inputText id="firstname" value="#{ContactEditBean.name}"
								required="true" label="Firstname" />

							<h:outputLabel for="surname" value="Příjmení:" />
							<p:inputText id="surname" value="#{ContactEditBean.surname}"
								required="true" label="Surname" />

							<h:outputLabel for="birthdate" value="Datum narození:" />
							<p:calendar value="#{ContactEditBean.birthday}" id="birthdate"
								showOn="button" />
						</p:panelGrid>
					</p:fieldset>

					<p:fieldset legend="Adresa" toggleable="true" toggleSpeed="500">
						<p:panelGrid columns="2" style="width: 100%">
							<h:outputLabel for="street" value="Ulice:" />
							<p:inputText id="street" value="#{ContactEditBean.street}"
								label="street" />
							<h:outputLabel for="city" value="Město:" />
							<p:inputText id="city" value="#{ContactEditBean.city}"
								label="city" />
							<h:outputLabel for="postCode" value="PSČ:" />
							<p:inputText id="postCode" value="#{ContactEditBean.postCode}"
								label="postCode" />
							<h:outputLabel for="country" value="Země:" />
							<p:inputText id="country" value="#{ContactEditBean.country}"
								label="country" />
						</p:panelGrid>
					</p:fieldset>
					<p:fieldset legend="Telefon / email" toggleable="true"
						toggleSpeed="500">
						<p:panelGrid columns="2" style="width: 100%">
							<h:outputLabel for="workPhone" value="Pracovní telefon:" />
							<p:inputText id="workPhone" value="#{ContactEditBean.workPhone}"
								label="workPhone" />
							<h:outputLabel for="privatePhone" value="Soukromý telefon:" />
							<p:inputText id="privatePhone"
								value="#{ContactEditBean.privatePhone}" label="privatePhone" />
							<h:outputLabel for="mobilePhone" value="Mobilní telefon:" />
							<p:inputText id="mobilePhone"
								value="#{ContactEditBean.mobilePhone}" label="mobilePhone" />
							<h:outputLabel for="primaryEmail" value="Primární email:" />
							<p:inputText id="primaryEmail"
								value="#{ContactEditBean.primaryEmail}" label="primaryEmail"
								required="true" />
							<h:outputLabel for="secondaryEmail" value="Sekundární email:" />
							<p:inputText id="secondaryEmail"
								value="#{ContactEditBean.secondaryEmail}" label="secondaryEmail" />
						</p:panelGrid>
					</p:fieldset>
					<p:fieldset legend="Poznámka" toggleable="true" toggleSpeed="500">
						<p:panelGrid columns="1">
							<p:inputTextarea rows="6" cols="33" />
						</p:panelGrid>
					</p:fieldset>
					<p:commandButton actionListener="#{ContactEditBean.save}"
						update="form" value="uložit" ajax="true" />
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
