<?xml version="1.0"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head />
	<h:body style="font-size:80%;">
		<p:layout fullPage="true">

			<p:layoutUnit position="north" size="50" resizable="false"
				closable="false" collapsible="false">
				<h:outputText value="PrimeFaces framework" />
			</p:layoutUnit>

			<p:layoutUnit position="west" size="200" header="Navigace"
				resizable="true" closable="true" collapsible="true">
				<h:form id="menuform">
					<p:menu>
						<p:menuitem value="Nový kontakt" url="contact-edit.xhtml" />
						<p:menuitem value="Seznam kontaktů" url="contact-list.xhtml" />
						<p:menuitem value="Kalendář" url="calendar.xhtml" />
					</p:menu>
				</h:form>
			</p:layoutUnit>


			<p:layoutUnit position="center">
				<ui:insert name="content">
				</ui:insert>
			</p:layoutUnit>

		</p:layout>
	</h:body>
</f:view>
